@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");

:root {
  --primary: #5771f3;
  --dark: #0b24a1;
  --light: #cdd5fb;
  --nav-clr: rgba(87, 113, 243, 0.8);
  --boxshadow: 8px 8px 33px #b0b7d8, -8px -8px 33px #eaf3ff;
  --boxshadow-big: 8px 8px 33px #979db7, -8px -8px 33px #d3e0f1;;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.heading {
  padding: 3rem 0 1rem 0;
  color: var(--dark);
  text-align: center;
  font-size: 2rem;
}
