@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");

:root {
  --background: white;
  --text: rgba(0, 0, 0, 0.8);
  --light-text: rgba(0, 0, 0, 0.6);
  --primary: #3a5af7;
  --dark: #071a7e;
  --light: #ecefff;
  --nav-clr: rgba(87, 113, 243, 0.8);
  --boxshadow: 8px 8px 33px #b0b7d8, -8px -8px 33px #eaf3ff;
  --boxshadow-big: 8px 8px 33px #979db7, -8px -8px 33px #d3e0f1;
  --boxshadow-project: 11px 11px 65px #9aa0bc, -11px -11px 65px #ffffff;
  --project-background: linear-gradient(145deg, #dbe4ff, #b9c0e2);
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  --background: #121212;
  --text: rgba(255, 255, 255, 0.95);
  --light-text: rgba(255, 255, 255, 0.8);
  --primary: #434d83;
  --dark: #7f92f3;
  --light: #eaeaea;
  --nav-clr: rgba(54, 54, 54, 0.8);
  --boxshadow: none;
  --boxshadow-big: none;
  --boxshadow-project: none;
  --project-background: #2d2d2d;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: var(--background);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/*
  4. Improve the typography across the site.
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading {
  position: relative;
  padding: 3rem 0 0 0;
  color: var(--dark);
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.anchorOffset {
  position: absolute;
  top: -75px;
}

@media screen and (min-width: 769px) {
  .heading {
    padding: 3rem 0 1rem 0;
    font-size: 2rem;
  }
}
