@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");

:root {
  --primary: #5771f3;
  --dark: #0b24a1;
  --light: #cdd5fb;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.heading {
  padding-bottom: 2rem;
  color: var(--dark);
  text-align: center;
  font-size: 2rem;
}
