.wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  column-gap: 4rem;
  justify-content: center;
  padding: 1rem 0;
  @media screen and (min-width: 769px) {
    padding: 4rem 0;
  }
}

.introduction {
  color: var(--text);
  h1 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark);
    @media screen and (min-width: 769px) {
      font-size: 4rem;
    }
  }
  p {
    font-size: 1rem;
    @media screen and (min-width: 769px) {
      font-size: 1.5rem;
    }
  }
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  width: 150px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--project-background);
  box-shadow: var(--boxshadow);
  color: var(--dark);
  text-transform: uppercase;
  transition: transform 0.2s ease;
  & svg {
    margin-right: 0.25rem;
  }
  &:hover {
    box-shadow: var(--boxshadow-big);
    transform: scale(1.05);
  }
}

.imgWrapper {
  max-width: 100px;
  & > span {
    border-radius: 6px;
  }
  @media screen and (min-width: 769px) {
    max-width: none;
    background-image: radial-gradient(var(--primary) 1px, var(--background) 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
    margin-top: 5rem;
    & > span {
      border-radius: 0;
      transform: translate(35px, -20px);
    }
  }
}
