.wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.introduction {
  h1 {
    margin: 1rem 0;
    font-size: 4rem;
    font-weight: 400;
    color: var(--dark);
  }
  p {
    font-size: 1.5rem;
  }
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  width: 150px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(145deg, #dbe4ff, #b9c0e2);
  box-shadow: var(--boxshadow);
  color: var(--dark);
  text-transform: uppercase;
  transition: all 0.2s ease;
  & svg {
    margin-right: 0.25rem;
  }
  &:hover {
    box-shadow: var(--boxshadow-big);
    transform: scale(1.05);
  }
}

.imgWrapper {
  background-image: radial-gradient(var(--primary) 1px, #fff 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
  margin: 4rem 0 0 4rem;
  & > span {
    transform: translate(35px, -20px);
  }
}
