.wrapper {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
}

.introduction{
  h1 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--dark);
  }
  p {
    font-size: 1.5rem;
  }
}

.links {
  display: flex;
}

.links a {
  width: 150px;
  padding: 1rem;
  margin-right: 1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(145deg, #dbe4ff, #b9c0e2);
  box-shadow: 8px 8px 33px #b0b7d8, -8px -8px 33px #eaf3ff;
  color: var(--dark);
  text-transform: uppercase;
  transition: all 0.2s ease;
  & svg {
    margin-right: 0.25rem;
  }
  &:hover {
    background-color: var(--dark);
    color: var(--light);
  }
}

.imgWrapper {
  margin: 2rem 6rem;
  border-radius: 50%;
  & img {
    border-radius: 30px;
  }
}