.navElement {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--nav-clr);
  backdrop-filter: saturate(180%) blur(5px);
  padding: 0 1rem;
  z-index: 100;
}

.wrapper {
  height: 75px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
  font-weight: 700;
  div {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    svg {
      font-size: 1.25rem;
    }
  }
}

.sectionsWrapper {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.logo {
  margin: 0 auto;
  background-color: var(--primary);
  color: var(--light);
  font-size: 2rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.toggleBtn {
  position: relative;
  padding: 6px 8px;
  background-color: var(--primary);
  border: none;
  color: var(--light);
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}
