.navElement {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--light);
  padding: 0 2rem;
}

.wrapper {
  height: 75px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
  font-weight: 700;
  & div a{
    margin: 0 2rem;
  }
}

.logo {
  background-color: var(--dark);
  color: var(--light);
  font-size: 2rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
