.navElement {
  position: sticky;
  top: 0;
  width: 100%;
  // background-color: var(--light);
  background-color: rgba(87, 113, 243, 0.8);
  backdrop-filter: saturate(180%) blur(5px);
  padding: 0 2rem;
  z-index: 100;
}

.wrapper {
  height: 75px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
  font-weight: 700;
  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    svg {
      font-size: 1.5rem;
    }

    a {
      padding-bottom: 1px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0;
        bottom: -2px;
        opacity: 0;
        transform: translateY(3px);
        background: var(--dark);
        transition: opacity 0.2s ease, transform 0.2s ease;
      }

      &:hover:after {
        opacity: 1;
        transform: translateY(0);
      }
    }

    button {
      
    }
  }
}

.logoLi {
  flex-basis: 50%;
}

.logo {
  margin: 0 auto;
  background-color: var(--dark);
  color: var(--light);
  font-size: 2rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
