.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  article {
    position: relative;
    height: 200px;
    min-width: 350px;
    color: var(--dark);
    border-radius: 20px;
    border-radius: 24px;
    background: linear-gradient(145deg, #dbe4ff, #b9c0e2);
    box-shadow: 11px 11px 65px #9aa0bc, -11px -11px 65px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  article:nth-of-type(even) {
    transform: translateY(calc(50% + 24px));
  }
}

.links {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}