.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    article {
        height: 200px;
        min-width: 350px;
        border-radius: 10px;
        color: var(--light);
        background-color: var(--dark);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    article:nth-of-type(even){
        transform: translateY(calc(50% + 24px));
    }
}

